@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #F1F4F9;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 280px;
  z-index: 100;
  transition: all 0.5s ease;
  box-shadow: 0 19px 34px -15px rgba(147, 133, 161, 0.05);
  padding: 32px 24px 0px 24px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #0278FF;
  font-weight: 600;
}

.sidebar .nav-links {
  height: 100%;
  padding-top: 30px;
  overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  border-radius: 8px;
  margin-bottom: 4px;
}

.sidebar .nav-links li a {
  color: #9385a1;
  padding: 14px 18px;
  display: block;
  border-radius: 8px;
}

.sidebar .nav-links li:hover {
  background: #F1F4F9;
}

.sidebar .nav-links li:last-child a {
  display: flex;
  align-items: center;
}

.sidebar .nav-links li:last-child a svg {
  font-size: 18px;
  margin-right: 4px;
}

.active {
  background: #F1F4F9;
}

/* Main Section  */
.main-section {
  position: relative;
  left: 280px;
  width: calc(100% - 280px);
  transition: all 0.5s ease;
  padding: 40px;
  box-sizing: border-box;
}


/* Buttons */

.btn {
  text-decoration: none;
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease;
  font-family: 'Poppins';
  font-size: 15px;
}

.btn-small {
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
}

.btn-default {
  background: #D1E3EB;
  border-color: #D1E3EB;
  color: #8d809b;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-blue {
  background: #0278FF;
  border-color: #0278FF;
  color: #fff;
}

.btn-blue:hover {
  background: #0372f0;
  border-color: #0372f0;
}

.btn-green {
  background: #02FFD5;
  border-color: #02FFD5;
  color: #00C2A1;
}

.btn-red {
  background: #f93154;
  border-color: #f93154;
  color: #fff;
}

.btn-to-read {
  background: #e2e8f0;
  color: #9385a1;
  border: 1px solid #EAF4FF;
}

.btn-reading {
  background: #ecec82;
  color: #a5a50c;
  border: 1px solid #ffff3f;
}

.btn-done {
  background: #00f18d;
  color: #069968;
  border: 1px solid #02FFD5;
}

/* Form */
.create-collection-form {
  width: 350px;
}

.create-collection-form .input-group {
  margin-bottom: 20px;
}

.create-collection-form .input-group > div {
  width: 100%;
}

.create-collection-form button {
  margin: 0 auto;
}

.text-danger {
  font-size: 15px;
  color: red;
  margin-top: 4px;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #dbe0e9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.header .btn-red {
  margin-left: 12px;
}

.header .header-info h1 {
  font-weight: 600;
}

.header .header-info p {
  color: #9385a1;
}

/* Collection */

.collection-table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

/* Search bar */
.search-container {
  background: #fff;
  width: 40%;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #9D90AC;
  font-size: 32px;
  margin-right: 12px;
}

.search-container svg {
  padding: 6px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  color: #9D90AC;
  font-size: 15px;
  outline: none;  
  padding: 6px;
  width: 100%;
}

.search-container .search-input:focus .search-container {
  box-shadow: 0 19px 34px -15px rgba(147, 133, 161, 0.3);
}

.search-container .search-input::placeholder {
  color: #9D90AC;
  font-weight: 400;
}

/* Book */
.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 24%));
  grid-gap: 12px;
}

.book-item,
.book-preview {
  padding: 32px 20px;
  border-radius: 6px;
  transition: box-shadow 400ms ease, border 250ms ease, background 350ms ease;
  cursor: pointer;
  height: 100%;
  border: 3px solid transparent;
}

.book-preview {
  background: #fff;
}

a {
  text-decoration: none;
}

.selected-book {
  border: 3px solid #0278FF;
  background: #fff;
}

.book-item:hover,
.book-preview:hover {
  box-shadow: 0 19px 34px -15px rgba(147, 133, 161, 0.5);
  background: #fff
}

.book-item .book-item-details,
.book-preview .book-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-item .book-item-details h3,
.book-preview .book-item-details h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 12px;
  color: #000;
}

.book-item .book-item-details p,
.book-preview .book-item-details p {
  color: #9385a1;
  font-size: 15px;
  text-decoration: none; 
}

.book-item .book-item-details p {
  margin-bottom: 12px;
}

.book-item .book-item-details img,
.book-preview .book-item-details img {
  width: 160px;
  margin-right: 12px;
  border-radius: 4px;
  height: 240px;

}

.book-item-details .img-placeholder {
  width: 160px;
  height: 240px;
  background: #d3d9e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-item-details .img-placeholder p {
  margin: 0;
}

.book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Book Preview */
.book-preview {
  margin-top: 24px;
}
.book-preview .book-item-details h3 {
  margin-top: 16px;
  margin-bottom: 6px;
}

.book-preview .book-item-details p {
  margin-bottom: 20px;
}

/* Book Details Page */
.book-details-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.book-details {
  width: 30%;
}

.book-details-actions {
  margin-top: 32px;
}

.book-details-actions > div {
  margin-right: 12px;
  width: 150px
}

.book-details-actions div#bookStatus {
  padding: 8px 12px ;
}

.book-details img {
  width: 80%;
}

.book-details h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.book-details h3 {
  font-size: 18px;
  font-weight: 400;
  color: #9385a1;
}

.book-details p {
  font-size: 15px;
  margin-top: 12px;
}

/* Notes */
.notes {
  width: calc(70% - 40px);
  margin-left: 40px;
}
.add-note .input-group {
  margin-bottom: 18px;
}
.add-note .input-group > div {
  width: 100%;
} 

.notes-container {
  margin-top: 32px;
}

.notes-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.note-item {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 12px;
}

.note-item p {
  line-height: 28px;
}

.note-item .note-number {
  color: #9385a1;
  display: block;
  margin-bottom: 8px;
}

/* Modal */
.modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  overflow: hidden !important;
}

.modal-container {
  width: 36%;
  background: #fff;
  padding: 18px;
  border-radius: 4px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #dbe0e9;
}

.modal-header span {
  font-size: 24px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 150ms ease;
  color: #9385a1
}

.modal-header span:hover {
  background: #F1F4F9;
}

.modal-header div {
  align-self: center;
}

.modal-header h3 {
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 600;
}

.modal-header p {
  font-size: 15px;
  font-weight: 300;
  color: #9385a1;
}

.modal-content {
  padding: 20px 0 0 0;
}

.modal-add-collection {
  border-bottom: 1px solid #dbe0e9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.modal-add-collection h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.toggleAddCollection{
  color: #0278FF;
  text-align: right;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  cursor: pointer;
  
}

.toggleAddCollection span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Collection list */
.collection-list {
  margin-bottom: 12px;
}
.collection-list-item {
  padding: 14px 18px;
  background: #F1F4F9;
  border: 2px solid #F1F4F9;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 350ms ease;
}

.collection-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-list-item svg {
  font-size: 22px;
  color: #0278FF;
}

.collection-list-item.selected {
  border-color: #0278FF;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

/* Add Book Page */
.add-book-page-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.add-book-form {
  width: 30%;
  margin-right: 80px;
}

.add-book-form .input-group > div {
  width: 100%;
}

.add-book-form .input-group {
  margin-bottom: 12px;
}

.add-book-form-hr {
  height: 1px;
  background-color: #d3d9e4;
  border: none;
  margin: 24px 0;
}

.white-bg {
  background: #fff;
}

.add-book-form-collections {
  margin-bottom: 24px;
}

.add-book-form-collections > p {
  margin-bottom: 12px;
}

.full-width {
  width: 100%;
}

.search-book {
  width: 40%;
}