@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #F1F4F9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

/* Buttons */

.btn {
  text-decoration: none;
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease;
  font-family: 'Poppins';
  font-size: 15px;
}

.btn-small {
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
}

.btn-default {
  background: #D1E3EB;
  border-color: #D1E3EB;
  color: #8d809b;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-blue {
  background: #0278FF;
  border-color: #0278FF;
  color: #fff;
}

.btn-blue:hover {
  background: #0372f0;
  border-color: #0372f0;
}

.btn-green {
  background: #02FFD5;
  border-color: #02FFD5;
  color: #00C2A1;
}

.btn-status-blue {
  background: #EAF4FF;
  color: #0278FF;
  border: 1px solid #EAF4FF;
}


/* Form */
.create-collection-form {
  width: 350px;
}

.create-collection-form .input-group {
  margin-bottom: 20px;
}

.create-collection-form .input-group > div {
  width: 100%;
}

.create-collection-form button {
  margin: 0 auto;
}

.text-danger {
  font-size: 15px;
  color: red;
  margin-top: 4px;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #dbe0e9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.header .header-info h1 {
  font-weight: 600;
}

.header .header-info p {
  color: #9385a1;
}

/* Collection */
.main-content {
  padding: 32px;
}

.collection-table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

/* Search bar */
.search-container {
  background: #fff;
  width: 30%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #9D90AC;
  font-size: 22px;
  margin-right: 12px;
}

.search-container svg {
  padding: 6px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  color: #9D90AC;
  font-size: 15px;
  outline: none;  
  padding: 6px;
  width: 100%;
}

.search-container .search-input:focus .search-container {
  box-shadow: 0 19px 34px -15px rgba(147, 133, 161, 0.3);
}

.search-container .search-input::placeholder {
  color: #9D90AC;
  font-weight: 400;
}

/* Book */
.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  width: 60%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: box-shadow 400ms ease;
  cursor: pointer;
  border-left: 3px solid #fff;
}

.selected-book {
  border-left: 3px solid #0278FF;
}

.book:hover {
  box-shadow: 0 19px 34px -15px rgba(147, 133, 161, 0.3);
}

.book .book-details h3 {
  font-size: 22px;
  font-weight: 600;
}

.book .book-details p {
  color: #9385a1;
  font-size: 15px;
}

